body {
    background: url('../img/heroBanner.jpg') fixed;
    background-size: cover;
}

main {
    display: inline-block;
    margin: auto auto auto 191px;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    main {
        margin: 30px;
    }
}

h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 0;
}

h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#sous-pres {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#btnjouer {
    background-color: #357266;
    color: white;
    width: 214px;
    height: 59px;
    padding: 10px 20px;
    margin-top: 90px;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}