#logo {
    width: 50px;
    height: 50px;
}

header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0.52%, rgba(0, 0, 0, 0.22) 53.65%, rgba(0, 0, 0, 0.00) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    margin-left: 20px;
}

li a {
    text-decoration: none;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
}