body {
    /*//overflow-x: hidden;*/
}

.navbar {
    z-index: 1;
    height: 100vh;
    /*width: 60px;*/
    background-color: #333;
    position: fixed;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: space-between;
    transition: width 0.3s ease;
}

.logo {
    margin-top: 40px;
    margin-bottom: 20px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav-link {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    color: #FFF1DD;
    text-underline-offset: 8px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #555;
}

label {
    padding: 10px 20px 10px 10px;
    cursor: pointer;
}

.arrow-icon {
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px;
}

#toggleNavbar {
    cursor: pointer;
    font-size: 30px;
    color: #FFF1DD;
    margin-bottom: 20px;
    display: none;
}

.nav-links:has(+ .arrow > #toggleNavbar:checked){
    display: none;
}