body {
    background-color: #457168;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: white;
}

main {
    padding: 0 40px;
}

h1 {
    margin: 0;
    padding: 0;
}

section h2 {
    color: #FFF;
    font-family: "Manrope", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 0;
}